%body.user-form-body
  .user-form-content
    .title-logo
      = link_to root_path do
        %span.first-word
          Canteen
        %span.second-word
          Koala
    %h1 Log in
    = form_with(url: login_path, scope: :session, local: true) do |form|
      .field
        = form.label :email
        = form.text_field :email
      .field
        = form.label :password
        = form.password_field :password
      .actions
        = form.submit "Log In"
    .button
      = link_to 'Back', root_path
  = image_tag 'form-back.jpg', alt: 'cover-image', class: 'cover-img'
