%body.cart-body
  .title-logo
    = link_to home_path do
      %span.first-word
        Canteen
      %span.second-word
        Koala
  %h2.cart-title
    Welcome to your cart
  .cart-list
    - @products.each do |product, quantity|
      .cart-item
        = cl_image_tag product.image.key
        .item-details
          .item-data
            .item-title
              = product.title
            .item-quantity
              x
              = quantity
          .item-actions
            - if quantity > 1
              = link_to 'Remove one instance', remove_single_item_from_cart_product_path(product.id), method: :delete
              = link_to 'Remove product', remove_product_from_cart_product_path(product.id), method: :delete
            - else
              = link_to 'Remove product', remove_product_from_cart_product_path(product.id), method: :delete

  = link_to 'Remove all items', remove_cart_items_carts_path, method: :post

  - unless @products.nil?
    .button.order-button
      = link_to 'Place order', place_order_carts_path, method: :post

  %h2.total
    Total:
    .price
      = @price
      $
