!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500&display=swap", :rel => "stylesheet"}/
    %title Canteen Koala
  %body.mainBody
    .top-section
      %nav.navbar
        .left-nav
          Canteen Koala
        .right-nav
          .page-button
            = link_to 'Home', '#'
          .separator
            |
          .page-button
            = link_to 'About', '#'
          .separator
            |

          - if logged_in?
            .page-button
              = link_to 'Cart', '/cart'
            .separator
              |
            .page-button
              = link_to 'Account', current_user
            .separator
              |
            .page-button
              = link_to "Log Out", logout_path, method: :delete
          -else
            .page-button
              = link_to 'Sign up', signup_path
            .separator
              |
            .page-button
              = link_to 'Log In', login_path

      .banner
        .main-text
          Order some
          %span.highlight
            delicious
          food
        .middle
          = image_tag 'lines-backward-05.png', alt: 'slashes', class: 'slashes'
          = image_tag 'koala-06.png', alt: 'icon', class: 'icon'
          = image_tag 'lines-forward-05.png', alt: 'slashes', class: 'slashes'
        .secondary-text
          Your favourite dishes are waiting for you. We are now bringing our exemplary customer service to your
          doorstep with our new delivery system. We strive to bring joy to your houses, as soon as possible.
    .background
      = image_tag "back.jpg", alt: "background"
    .middle-section
      .middle-elements
        .left-middle
          .category-select
            %select.selection{:name => "Category"}
              %option{:value => "category"} CATEGORY
              %option{:value => "entrees"} Entrees
              %option{:value => "salads"} Salads
              %option{:value => "main-courses"} Main
              %option{:value => "breakfast"} Breakfast
              %option{:value => "dessert"} Dessert
            %span.category-arrow-block
            %span.category-arrow
          .sorting-select
            %select.selection{:name => "Sorting"}
              %option{:value => "category"} SORTING
              %option{:value => "price"} Price
              %option{:value => "quantity"} Quantity
              %option{:value => "delivery"} Delivery
            %span.sorting-arrow-block
            %span.sorting-arrow
          .vegetarian-select
            %select.selection{:name => "Vegetarian"}
              %option{:value => "vegetarian"} VEGETARIAN
              %option{:value => "yes"} Yes
              %option{:value => "no"} No
            %span.vegetarian-arrow-block
            %span.vegetarian-arrow
        .right-middle
          %label{:for => "slider"} PRICE
          %span 0$
          %input#slider{:max => "200", :min => "0", :name => "slider", :step => "10", :type => "range", :value => "150"}/
          %span#upper-bound 150$
    #food-dishes
      - @products.reverse.each do |product|
        .card
          .item-content

            = link_to product_path(product) do
              = cl_image_tag product.image.key

              .title
                = product.title

              .category
                = product.description

              .price
                = product.price

          .item-actions

            - if logged_in?
              .button.cart-button
                = link_to 'Add to cart', add_to_cart_product_path(product.id), method: :post
            - else
              .button.cart-button
                = link_to 'Add to cart', login_path

      .card
        .add-card
          = link_to new_product_path do
            .image
              = image_tag 'add.png', alt: 'add-image'
            .title
              Add a new dish
