%body.product-show-body
  %a.title-logo{:href => main_page_home_path}
    %span.first-word Canteen
    %span.second-word Koala
  .item-contents
    .item-image= image_tag @product.image
    .title= @product.title
    .category= @product.description
    .price= @product.price
  .item-buttons
    .button= link_to 'Edit', edit_product_path(@product)
    .button= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure you want to remove this item?' }
    .button= link_to 'Back', main_page_home_path
  .cart-button
    - if logged_in?
      .button= link_to 'Add to cart', '#'
    - else
      .button= link_to 'Add to cart', login_path
